.v-tab {

  .public-profile & {
    justify-content: start;
    font-weight: 500;
    font-size: 18px;
    // color: #000000;
    text-transform: capitalize !important;
    border-bottom: 0.5px solid #CACACA;

    &:hover {
      //color: #0253B3 !important;
    }

    &:hover:before {
      // opacity: 1;
    }
  }
}