//  Base styles
//  ----------------
//
//  Table of Contents:
//
//   1. Base
//   2. Colors
//   3. Typography
//   4. Buttons
//   5. Inputs
//   6. 

// 1. Base
// -------

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
$roboto: 'Roboto', sans-serif;

body {
    font-family: $roboto!important;
}

// 2. Colors
// ---------

//primary
$primary: #C15143;
$primary-dark: #A94438;
$primary-medium: #F5DBD6;
$primary-light: #FBF0EE;
$primary-blue: #1976d2;

//secondary
$green: #32BE4A;
$dark-green: #49A600;
$orange: #FF7612;
$blue: #24B0FF;
$yellow: #FFD260;

//greyscale
$dark-grey: #222222;
$medium-grey: #999999;
$light-grey: #E5E5E5;

// 3. Typography
// -------------

//headings

h1, h2, h3, h4, .h1, .h2, .h3, .h4 { color: #222!important; }

h1, .h1 {
    size: 30px;
    font-weight: 700;
}

h2, .h2 {
    size: 20px;
    font-weight: 500;
}

h3, .h3 {
    size: 18px;
    font-weight: 500;
}

h4, .h4 {
    size: 17px;
    font-weight: 700;
}

//body

.text-large { font-size: 17px!important; }
.text-medium { font-size: 14px!important; }
.text-regular { font-size: 12px!important; }

.text-weight-bold { font-weight: 700!important; }
.text-weight-medium { font-weight: 500!important; }
.text-weight-regular { font-weight: normal!important; }

// 4. Buttons
// ----------

.button {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    
    &.primary {
        color: white;
        background-color: $primary;
        border-color: $primary;

        &.active, &:active {
            background-color: $primary-dark;
            border-color: $primary-dark;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }

    &.secondary {
        color: $primary;
        border-color: $primary;

        &.active, &:active {
            background-color: $primary-light;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

// 5. Inputs
// ---------

//update placeholder styling
@mixin inputPlaceholder() {
    $selector: '';
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms"
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
      @content;
    }
}

// input {
//     background-color: white;
//     border: solid 1px #e0e0e0;
//     border-radius: 10px;
//     color: #222;

//     @include inputPlaceholder() {
//         font-size: 17px;
//         line-height: 20px;
//         font-weight: 500;
//         padding: 18px 12px;
//         color: $medium-grey;
//     }

//     &.focus, &:focus {
//         border-width: 0.5px;
//         border-color: $primary;
//     }
// }

label {
    margin-bottom: 0!important;
}

// 5. Layout
// ---------

.full-h { height: 100%!important; }
.full-w { width: 100%!important; }
