//  Base styles
//  ----------------
//
//  Table of Contents:
//
//   1. Base
//   2. Colors
//   3. Typography
//   4. Buttons
//   5. Inputs
//   6. 

// 1. Base
// -------

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
$roboto: 'Roboto', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$open-sans: 'Open Sans', sans-serif;

body {
    font-family: $roboto!important;
}

// 2. Colors
// ---------

//primary
$primary: #C15143;
$primary-dark: #A94438;
$primary-medium: #F5DBD6;
$primary-light: #FBF0EE;
$primary-blue: #1976d2;
$primary-blue-light: #E3F2FB;
$primary-blue-dark: #0253B3;

//secondary
$green: #32BE4A;
$dark-green: #49A600;
$orange: #FF7612;
$blue: #24B0FF;
$yellow: #FFD260;

//greyscale
$dark-grey: #222222;
$medium-grey: #999999;
$light-grey: #E5E5E5;
$lighter-grey: #f6f6f7;


$status-request: #F5980C;
$status-negotiation: #0253B3;
$status-call: #018D28;

// 3. Typography
// -------------

//headings

h1, h2, h3, h4, .h1, .h2, .h3, .h4 { color: #222!important; }

h1, .h1 {
    size: 30px;
    font-weight: 700;
}

h2, .h2 {
    size: 20px;
    font-weight: 500;
}

h3, .h3 {
    size: 18px;
    font-weight: 500;
}

h4, .h4 {
    size: 17px;
    font-weight: 700;
}

h5, .h5 {
    size: 16px;
    font-weight: 700;
}

//body

.text-large { font-size: 17px!important; }
.text-medium { font-size: 14px!important; }
.text-regular { font-size: 12px!important; }

.text-weight-bold { font-weight: 700!important; }
.text-weight-medium { font-weight: 500!important; }
.text-weight-regular { font-weight: normal!important; }

.text-color-primary-blue-dark { color: $primary-blue-dark !important; }

.border-right-gray { border-right: 1px solid $light-grey !important; }
.border-top-gray { border-top: 1px solid $light-grey !important; }
.border-blue-dark { border: 1px solid $primary-blue-dark !important; }
.border-right-blue-dark-thick { border-right: 4px solid $primary-blue-dark !important; }
.border-top-blue-dark { border-top: 1px solid $primary-blue-dark !important; }

.pull-right {
    float: right;
}

// 4. Buttons
// ----------

.button {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

    &.primary {
        color: white;
        background-color: $primary;
        border-color: $primary;

        &.active, &:active {
            background-color: $primary-dark;
            border-color: $primary-dark;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }

    &.secondary {
        color: $primary;
        border-color: $primary;

        &.active, &:active {
            background-color: $primary-light;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }

    &.dark-blue {
        &.fill {
            color: $primary-light;
            background-color: $primary-blue-dark;
            border-color: $primary-blue-dark;

            &.active, &:active {
                background-color: $primary-blue;
            }

            &.disabled, &:disabled {
                opacity: .5;
                cursor: default;
            }
        }

        &.outline {
            color: $primary-blue-dark;
            background-color: white;
            border-color: $primary-blue-dark;

            &.active, &:active {
                background-color: $primary-light;
            }

            &.disabled, &:disabled {
                opacity: .5;
                cursor: default;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.v-btn {
    text-transform: none !important;

    &.light-blue {
        color: $primary-blue-dark !important;
        background-color: $primary-blue-light !important;
        border-color: $primary-blue-light !important;

        &.active, &:active {
            color: $primary-blue-light !important;
            background-color: $primary-blue !important;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }
    &.dark-blue {
        color: #fff !important;
        background-color: $primary-blue-dark !important;
        border-color: $primary-blue-dark !important;

        &.active, &:active {
            color: #fff !important;
            background-color: $primary-blue-dark !important;
        }

        &.disabled, &:disabled {
            opacity: .5;
            cursor: default;
        }
    }
}

.v-text-field.v-text-field--solo .v-label {
    top: 10px;
}

// 5. Inputs
// ---------

//update placeholder styling
@mixin inputPlaceholder() {
    $selector: '';
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms"
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
      @content;
    }
}

// input {
//     background-color: white;
//     border: solid 1px #e0e0e0;
//     border-radius: 10px;
//     color: #222;

//     @include inputPlaceholder() {
//         font-size: 17px;
//         line-height: 20px;
//         font-weight: 500;
//         padding: 18px 12px;
//         color: $medium-grey;
//     }

//     &.focus, &:focus {
//         border-width: 0.5px;
//         border-color: $primary;
//     }
// }

label {
    margin-bottom: 0!important;
}

// 5. Layout
// ---------

.full-h { height: 100%!important; }
.full-w { width: 100%!important; }

.bg-light-gray {
    background: $lighter-grey;
}

// 6. Mixins
// ---------
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}